[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  commit = commit --signoff

[user]
  name = Ziyi Yan
  email = ziyiyan@proton.me
[core]
  autocrlf = input
  safecrlf = true
  excludesFile = ~/.gitignore_global

[pull]
  ff = only
